[submodule "luci-theme-argon"]
        path = luci-theme-argon
        url = https://github.com/hawsoft/luci-theme-argon.git
        branch = master
[submodule "luci-app-istore"]
        path = luci-app-istore
        url = https://github.com/hawsoft/luci-istore.git
        branch = master
[submodule "luci-app-iguge"]
	path = luci-app-iguge
	url = https://github.com/hawsoft/luci-app-iguge.git
	branch = main
